<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @tweets.each do |e| %>

<div>
    <p>
        <div class=box>
            <%= e.message %>
            <%= ((Time.current - e.tdate)/60).to_i %>分
            <%=link_to '削除', "/tweets/#{e.id}", data: { turbo_method: :delete } %>
            <%=link_to '表示', "/tweets/#{e.id}" %>
            <%=link_to '編集', "/tweets/#{e.id}/edit" %>
        </div>
    </p>
</div>

<div class=sub>
    <p>
        <%=link_to "/", class: "sub" do %>
            <%= image_tag ("comment.png") %>
        <% end %>
        <%=link_to "/", class: "sub" do %>
            <%= image_tag ("retweet.png") %>
        <% end %>
        <%=link_to "/", class: "sub" do %>
            <%= image_tag ("good.png") %>
        <% end %>
    </p>
</div>
    
<% end %>


